.Footer__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background-color: #304146;
}

.Footer__links{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.Footer__link{
    cursor: pointer;
}

.Footer__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer__phone, .Footer__email, .Footer__address{
    margin: 3px;
}

.Footer__topLine{
    border-top: 1.5px solid rgba(0,0,0,0.6);
}

.Footer__bottomLine{
    border-bottom: 1.5px solid rgba(0,0,0,0.6);
}

a.Footer__social {
    margin: 20px;
    transition: transform 250ms;
    display: inline-block;
}

a.Footer__social:hover {
    transform: translateY(-3px);
}

a.Footer__youtube {
    color: #eb3223;
}

a.Footer__facebook {
    color: #4968ad;
}

a.Footer__twitter {
    color: #49a1eb;
}

a.Footer__instagram {
    color: black;
}