/* .main_img_container{
    display: flex;
    justify-content: center;
} */
/* .mainImg{
    width: 100vw;
    height: 70vh;
} */
.sub{
    display: flex;
    width: 100vw;
    height: 50vh;
    margin: 10px;
}
.subsub{
    width: 49vw;
    
}
.img-1{
   display: flex;
   justify-content: center;
   width: 80%;
   height: 80%;
}
.text{
   padding: 10px;
   display: 'flex';
   justify-content: center;
   align-items: center;
   margin: auto;
}
.subsubhead{
    letter-spacing: 0;
    text-align: left;
    color: #253858;
    font-size: 48px;
    font-weight: 300;
    margin: 0 0 20px;
}
p{
    letter-spacing: .32px;
    color: #505F79;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin: 0;
}
.ini-pic{
    width: 80vw;
    height: 40vh;
    border: 2px solid grey;
    border-radius: 20px;
}
.inipicdiv{
    margin: 70px;
    display: flex;
    justify-content: center;

}
.head-text{
    font-size: 1.2rem;
    color: #0093de;
    text-align: center;
    padding: 0 108px;
    width: 70%;
    margin: 30px;
}
.text1{
    display: flex;
    justify-content: center;
}
.container-3{
    height: 70vh;
    background-color: #f7f9ff;
    display: flex;
    justify-content: center;
}
.small{
    /* border: 2px solid black; */
    width: 48vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-1{
    /* border: 2px solid black; */
    width: 48vw;
    height: 70vh;
    padding: 30px;
}
.mobile-app{
    width: 40vw;
    height: 60vh;
}
.text-head{
    font-size: 40px;
    color: #000;
    line-height: 40px;
    padding: 5px;
}
.text-sub{
    color: #5E6C84;
    font-size: 25px;
    padding-bottom: 40px;
    padding-top: 15px;
}
span{
    display: block;
    width: 60px;
    height: 4px;
    background: #0065FF;
    margin: 5px;
}
li{
    list-style: none;
    margin: 0 0 0 30px;
    padding: 0 0 20px 0;
    font-size: 20px;
    color: #253858;
}
li::before{
    content: '';
    width: 16px;
    height: 16px;
    background: url(https://static.pbcdn.in/cdn/images/webp/star-outline.webp) no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    margin: 0 14px 0 -30px;
}
.card-11{
    margin: 0;
    padding: 0;
    position: relative;
    width: calc(16% - 20px);
    background: #fff;
    border: 1px solid #dfe1e6;
    min-height: 220px;
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.container-4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.card-11:hover{
    transform: scale(1.1);
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .2s ease-in;
}
.imagea{
    height: 100px;
    width: 205px;
    padding: 5px;
}
.card-11head{
    font-size: 20px;
    font-weight: 400;
    padding: 15px;
    margin: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}