.loginUser__input{
    margin: 10px;
}

.loginUser__inputWrong{
    margin: 10px;
    border-bottom: 2px solid red;
}

.loginUser__inputCorrect{
    margin: 10px;
    border-bottom: 2px solid green;
}

.loginUser__button{
    margin:auto;
    margin-top: 20px;
}
.loginUser__container{
    background-color: white;
    justify-content: center;
    /* margin-top: 25vh;
    margin-left: 25vw; */
    margin-left:auto;
    margin-right: auto;
    margin-top: 35vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 300px; */
    width: 500px;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(66, 63, 63);
}

.loginUser__text{
    font-size: 12px;
    width:fit-content;
    /* margin-top: 2px; */
    color:blue;
    /* text-decoration: underline; */
    cursor: pointer;
}

.signUpUser__container{
    
    background-color: white;
    justify-content: center;
    /* margin-top: 25vh;
    margin-left: 25vw; */
    
    /* height:70vh; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 300px; */
    
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(66, 63, 63);
}

.signUpUser__wrapper{
    margin-left:auto;
    margin-right: auto;
    width: 500px;
    overflow-y: scroll;
    margin-top:20vh;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(66, 63, 63);
}

.image_display{
    margin: auto;
    height: 200px;
    width:200px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px;
    cursor: pointer;
}

.image_displayContainer{
    height: 100%;
    width:100%;
    border-radius: 10px;
    object-fit: cover;
    
}