.PolicyDetails__container{
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
}

.PolicyDetails__dataBlock{
    display: flex;
    padding: 10px;
    padding-left: 0px;
}

.PolicyDetails__leftDataBlock{
    width: 150px;
}

.PolicyDetails__bottomBorder{
    border-bottom: 1.5px solid rgba(0,0,0,0.2);
}

.PolicyDetails__details{
    padding-bottom: 10px;
    border-bottom: 1.5px solid rgba(0,0,0,0.6);
}

.PolicyDetails__button{
    margin-top: 10px;
}