.PolicyDescription__container{
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
}

.PolicyDescription__dataBlock{
    display: flex;
    padding: 10px;
    padding-left: 0px;
}

.PolicyDescription__leftDataBlock{
    width: 150px;
}

.PolicyDescription__bottomBorder{
    border-bottom: 1.5px solid rgba(0,0,0,0.2);
}

.PolicyDescription__description{
    padding-bottom: 20px;
}

.PolicyDescription__eligibility{
    padding-bottom: 20px;
}

.PolicyDescription__paymentDetails{
    padding-bottom: 20px;
}

.PolicyDescription__input{
    margin: 10px;
    margin-left: 0px;
}

.policyDesc__reviewing{
    display: flex;
    background-color: rgba(167, 26, 180, 0.478);
    border-radius: 10px;
    padding: 10px;
}
.policyDesc__current{
    display: flex;
    background-color: rgba(62, 180, 26, 0.478);
    border-radius: 10px;
    padding: 10px;
}
.policyDesc__rejected{
    display: flex;
    background-color: rgba(244, 83, 20, 0.478);;
    border-radius: 10px;
    padding: 10px;
}

.policyDesc__login{
    display: flex;
    background-color: rgba(244, 180, 20, 0.478);
    border-radius: 10px;
    padding: 10px;
}

.policyDesc__icon{
    margin-right: 10px;
}